.navbar-nav {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    
    margin-bottom: 0;
    list-style: none;
    text-decoration-color: #ffffff;
    
    font-family: 'IBM Plex Sans', sans-serif;
}





.navbar-nav .nav-item{
    box-sizing: border-box;
    color: #ffffff;
    margin: auto;
    padding: auto;
}

.search-icon{
    position: absolute;
    right: 2px;
    top: 13px;
    color: #939393;
}



.fa-layers {
  vertical-align: -.125em;
}

.dot {
  height: 18px;
  width: 18px;
  background-color: #ff6600;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -8px;
  right: 25px;

}


h2{
    padding-top: 20px;
}

form{
    margin-bottom: 0px;
}

.fa-layers-counter{
    position: absolute;
    color: #ffffff;
    left: 6px;
    top: 0px;
    
}



.navbar-lower{
    background-color: #ff6600;
    height: 15%;
    text-align: center;
    font-size: 15px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    margin: auto;
    padding: 0px;
}

button:focus{
    outline: none !important;
}

.nav-responsive{
z-index: 1000;
margin-top: 20px;
display: flex;
position: absolute;
align-content: center;
justify-content: center;
background: #ff6600;
width: 100%;

}



#coupon{
    background: linear-gradient(45deg, #cb2d3e, #ef473a)
}

.flex-control-nav{
    bottom: 350px;
    
}

.secondary{
    color: #ffffff;
    position: relative;
    bottom: 4px;
    left: 70px;
}

.navbar-title{
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    position: relative;
    right: 50px;
    padding-top: 10px;
    
}



#sale{
        
        color: #ff6600;
        font-size: 20px;
        left: 350px;
        top:25px;
        text-align: center;

    }

#ftd{
        
        color: #ff6600;
        font-size: 20px;
        left: 430px;
        top:25px;
        text-align: center;

    }

    ul.nav a:hover { color: #fff !important; }


.nav-link:hover{
    background-color: #E55B00;
    color: #ffffff !important;
}

.nav-link:active{
    background-color: ;
    text-decoration-color: #ff6600;
}

.navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;

}

.quantity{
    float: left;
    margin-right: 25px;
}

.tiles{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

nav.select {
  display: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
}

@media only screen and (max-width: 600px) { 
    
    #bag-total{
        top: -3px;
        left: 5px;
    }

    #primary{
    margin-top: 20px;
    }

     .flex-control-nav{
        display: none;
    }

    .top-nav{
        width: 100%;
        display: flex;
    }

    nav ul li{
        margin: 10px;
        align-items: center;
    }

    #abt-us{
        border: none;
    }

    .navbar-lower{
        display: none;
    }
    
    .nav-icon{
        display: none;
    }
    

}



@media only screen and (min-width: 600px) {
    
    .lg-search{
        display: none;
    }


    .summary, .woocommerce-tabs{
        position: relative;
        bottom: 270px;
        
    }

   


    #abt-us{
        border-right: 1px solid #BDBDBD;
    }

    #help{
        border-left: 1px solid #BDBDBD;
    }
}

/* Footer Styling begins */



.container footer{
    font-family: 'Archivo Narrow', sans-serif;
}

    .row.no-gutter {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

#foot-logo{
    width: 250px;
    padding: 0px;
    margin: 0px;

}

    #join{
        background-color: #ff6600;
        color: #ffffff;
        height: 58px;
        margin: 0px 0px 22px auto;

    }

    #ftitle{
        color: #ff6600;
    }

    #abt-us{
                
        text-align: center;
        
    }

    #txt2{
        font-family: 'Roboto Condensed', sans-serif;

    }

    #help{

        text-align: center;
        
    }

    #con{
        
        align-content: center;
        text-align: center;
    }
    
    .nav-mini{
        padding-bottom: 05px;
        width: 100%; 
        justify-content: space-between;
    }
    
    #find{
    margin-top: 10px;
    margin-right: 10px;
    width: 300px;
    min-height: 3.2em;
    }
    
    #find2{
        
        margin-top: 10px;
margin-right: 10px;
width: 230px;
min-height: 3em;
margin-left: 10px;

    }

    
    .fa, .fas {
    margin-top: 10px;
    font-weight: 900;
    padding-right: 20px;

}

 body{
  margin-top: 100px;
}
.headerDownMenu{width: 80%; margin-left: auto; margin-right: auto; font-family: 'IBM Plex Sans', sans-serif;}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.nav-link {
    padding: 12px;
}
 #navbarSupportedContent2 > .navbar-nav{
    display:flex; flex-direction: column; padding-top:10px;
    margin: 0px;
 }