.navbar-nav {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 15px;
    margin-bottom: 0;
    list-style: none;
    text-decoration-color: #ffffff;
    
    font-family: 'IBM Plex Sans', sans-serif;
}

.navbar-nav .nav-item{
    box-sizing: border-box;
    color: #ffffff;
    margin: auto;
    padding: auto;
}

.search-icon{
    position: absolute;
    right: 18px;
    top: 13px;
    color: #939393;
}

.fa-layers {
  vertical-align: -.125em;
}

.dot {
  height: 18px;
  width: 18px;
  background-color: #ff6600;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -8px;
  right: 25px;

}

form{
    margin-bottom: 0px;
}

.fa-layers-counter{
    position: absolute;
    color: #ffffff;
    left: 6px;
    top: 0px;
    
}

.navbar-lower{
    background-color: #ff6600;
    height: 15%;
    text-align: center;
    font-size: 15px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    margin: auto;
    padding: 0px;
}

#sale{
        
        color: #ff6600;
        font-size: 20px;
        left: 350px;
        top:25px;
        text-align: center;

    }

#ftd{
        
        color: #ff6600;
        font-size: 20px;
        left: 430px;
        top:25px;
        text-align: center;

    }

    ul.nav a:hover { color: #fff !important; }


.nav-link:hover{
    background-color: #E55B00;
    color: #ffffff !important;
}

.nav-link:active{
    background-color: ;
    text-decoration-color: #ff6600;
}

.navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;

}

nav.select {
  display: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {   
    snav ul li{
        margin: 10px;
        align-items: center;
    }

    #abt-us{
        border: none;
    }

}
@media (max-width: 960px) {
  
}

@media only screen and (max-width : 520px) {
    #find{
        margin-left: 30px;
    }

  
}

@media only screen  and (min-width : 1224px) {

    select {
    display: none;
  }

    #abt-us{
        border-right: 1px solid #BDBDBD;
    }

    #help{
        border-left: 1px soid #BDBDBD;
    }
}

/* Footer Styling begins */



.container footer{
    font-family: 'Archivo Narrow', sans-serif;
}

    .row.no-gutter {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

#foot-logo{
    width: 250px;
    padding: 0px;
    margin: 0px;

}

    #join{
        background-color: #ff6600;
        color: #ffffff;
        height: 58px;
        margin: 0px 0px 22px auto;

    }

    #ftitle{
        color: #ff6600;
    }

    #abt-us{
                
        text-align: center;
        
    }

    #txt2{
        font-family: 'Roboto Condensed', sans-serif;

    }

    #help{

        text-align: center;
        
    }

    #con{
        
        align-content: center;
        text-align: center;
    }
    
    
    
    #find{
        margin-top: 0px; 
        margin-right: 30px;
        width: 250px;
    }
    
    .fa, .fas {

    font-weight: 900;
    padding-right: 20px;

}

 body{
  margin-top: 100px;
}
.headerDownMenu{width: 80%; margin-left: auto; margin-right: auto; font-family: 'IBM Plex Sans', sans-serif;}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.nav-link {
    padding: 12px;
}